<nav>
  <a href="/">Home</a>
  <a href="/movies">Movies</a>
  <a href="/new-movie">New Movie</a>
  <% if (user) { %>
  <a href="/auth/sign-out">Sign out</a>
  <% } else { %>
  <a href="/auth/sign-up">Sign Up</a>
  <a href="/auth/sign-in">Sign In</a>
  <% } %>
</nav>
