<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <%- include('./partials/nav') %>
  <h1>Hello new movie</h1>
  <!-- ! action is the route this form talks to -->
  <form action="/movies" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <label for="year">Year:</label>
    <input type="text" name="year" id="year">
    <label for="rating">Rating:</label>
    <input type="text" name="rating" id="rating">

    <button type="submit">Add movie</button>
  </form>
</body>
</html>